.filter {
    background-color: rgb(181, 154, 202);
    text-align: center;
    font-size: 15px;
    padding: 10px;
    display: block;
    margin: 15px auto;
  }
  button,
  legend {
    border: 0;
    display: inline-block;
  }
  .line {
      line-height: 1.5em;
      border-bottom: 2px solid rgb(81, 17, 155);
      padding: 10px;
    }